---
# Main styling
---

p,li,ul,h1,h3{
	text-align:center;
}

ul,li{
	text-decoration: none;
	list-style: none;
}

.explore{
	.explore-continents{
		li{
			/*width:35%;*/
			/*margin-left: 8%;*/
			margin-top: 10px;
			float: left;
			img{	
				max-width: 400px;
			}
		}
		overflow: auto;
		/*width:70%;*/
		/*margin: 0 auto;	*/	
	}
	.explore-title{
		text-align: center;
		font-size: 90px;
		margin-bottom:75px;
		font-family: skinny;
		margin-top:45px;
		img{
			width:400px;
			margin-bottom:20px;
		}
	}
	.popular,
	.latest{
		text-align: center;
		font-size: 60px;
		font-family: skinny;
		margin-top:100px;
		margin-bottom:50px;
	}
	.popular-single-post.post-clip{
		padding-left:0px;
		padding-right:0px;
	}
}
.continent-country{
	.explore-thumbnail{
		box-shadow: 0 2px 4px 0 rgba(187,187,187,1);
		-webkit-box-shadow:0 2px 4px 0 rgba(187,187,187,1);
		border-radius: 2px;
		margin-bottom:25px;
	}
}


.back-explore{
 	margin-left:10%;	
 	padding:10px;
 	margin-bottom: 20px;
 }
 a.back-explore.glyphicon.glyphicon-chevron-left:visited,
 a.back-explore.glyphicon.glyphicon-chevron-left:hover,
 a.back-explore.glyphicon.glyphicon-chevron-left{
 	font-size: 35px;
 	text-decoration: none;
 	color:black;
 }
.site-nav{
	float:right;
	padding:0px 0;
	margin-top:1px;
}
.site-nav .page-link:focus,
.site-nav .page-link:hover,
.site-nav .page-link:visited{
	text-decoration: none;
}
.site-nav .page-link{
	font-size: 17px;
	padding:0 10px;
	font-weight: 300;
}
.title-icon{
	width:50px;
}
a.site-title{
	font-family: watermelon;
	font-size: 170px;
	margin: 50px 0 20px 0;
	text-decoration: none;
	width:100%;
	text-align: center;
}
a.title{
	font-family: 'watermelon';
	font-size: 40px;
	text-decoration: none;
	color:#000;
}
.title:hover,
.title:visited,
.title:hover,
.site-title:hover{
 	text-decoration: none;
 	color:#000;
 }

 .country-list{
 	width:29%;
 	float: left;
 	/*margin:10px 20px;*/
 }

 .continent-country{
 	overflow: auto;
 	width:90%;
 	margin:20px auto 10px auto;
 }

 .wrapper{
 	width:90%;
 	max-width: 90%;
 }
 .site-header{
 	border-top:none;
 }
 /* Blog posts page */
 h1.blog-list-title{
 	margin-top: 40px;
 	font-family: watermelon;
 	font-size:45px;
 	margin-bottom: 40px;
 }
 .pag{
 	.page_number{
 		text-align: center;
 		font-size: 18px;
 		color:#b21c0e;
 		padding-top:5px;
 	}
 	.previous{
 		text-align: left;
 		font-size:25px;
 	}
 	.next{
 		text-align: right;
 		font-size:25px;
 	}
 	a,a:hover{
 		text-decoration: none;
 		color:black;
 	}
 }
 .post-list{
 	font-family:gotham, helvetica, arial, sans-serif;
 	text-align: left;
 	p{
 		text-align: left;
 	}
 	.post-excerpt{
		text-align: left;
		margin-top: 5px;
		display: block;
	}
	.post-link:visited,
 	.post-link:hover{
 		text-decoration: none;
 		/*color:rgba(45, 190, 96, 0.7);*/
 		color:#b21c0e;
 	}
 	.post-link{
		font-family:"gotham", helvetica, arial, sans-serif;
		font-weight: 400;
		color:#b21c0e;
		/*color:rgba(45, 190, 96, 0.7);*/
		font-size:30px;
		text-align: left;
		@media screen and (max-width: 599px) {
			font-size: 20px;
			text-align: center;
		}

	}
	.single-post{
		border-bottom:2px solid #F7F7F7;
		padding-bottom: 25px;
		text-align: left;
		@media screen and (max-width: 1024px) {
			margin-left:20px;
			text-align: center;
		}
		p{
			@media screen and (max-width: 1024px) {
				text-align: justify;
			}
		}
	}
 }

 .post-header{
 	.post-title{
 		color:#b21c0e;
 		font-family: "skinny";
 		font-size: 50px;
 	}
		
	}

/* Individual post page*/

.post-content p{
	/*text-align: justify;*/
}
.post-content{
	font-family:"gotham",gotham;
	font-size:15px;
	 @media screen and (max-width: 1024px) {
	 	padding:10px;
	 	font-size: 14px;
	 	margin-left:20px;
	 }
	.post-opening{

		font-family: 'watermelon';
		font-size: 40px;
		margin-bottom:30px;
		margin-left:-140px; /* hacky way to avaoid re-griding post layout */
		@media screen and (max-width: 1024px) {
			margin-left:0;
			font-size: 30px;
		}
	}
	.post-closing{
		font-family: 'watermelon';
		font-size: 40px;
		margin-left: 85%;
		margin-top:20px;
		@media screen and (max-width: 1024px) {
			font-size: 30px;
		}
		@media screen and (max-width: 599px) {
			margin-left:0;
		}
	}
}


/* End of indivudal post page*/ 

/* Homepage */
.home{
	.home-logo{
		margin:0 auto;
		display: block;
		margin-top:50px;
	}
	 .home-posts{
	 }
	 .main-container{
	 	min-height:100vh;
	 	margin-top: 10px;
	 	.main-blurb{
	 		margin-top: 60px;
	 		font-family: skinny;
	 		font-size: 70px;
	 	}
	 }
	 .home-grid{
		.second-row{
			margin-top:30px;
			width:100%;
	 	}
	 	.first-row{
	 		@media screen and (max-width: 799px) {
	 			margin-top:30px;
	 		}
	 	}
	 }
}
/*End of home page*/

/* General*/
 a:visited,
 a:hover,
 a:focus{
 	color:black;
 }
 .image-gallery{
 	img{
 		margin-top: 30px;
 	}
 }
.europe-header{

	margin: 30px auto 60px auto;
	width:80%;
	a.back-explore.glyphicon.glyphicon-chevron-left{
		float:left;
		margin-top:10px;
		font-size:40px;
	}
	.back-explore{
		padding:0px;
	}
	h4{
		width:100px;
		margin:0 auto;
		font-size:75px;
		font-family: watermelon;
	}
}

 /*  Footer  */
 .footer-content{
	border-top:2px solid #F7F7F7;
	display: block;
	overflow: auto;
	margin-top: 50px;

	.social-icons{
		margin:30px 0 10px 0;
		width:225px;
		float: right;
		img{
			margin-left:20px;
			margin-bottom: 20px;
		}
	}
	.social-icon{
 		width: 45px;
 		height:45px;
 	}
}

/* Individual Country Styling*/


ul.country-stats-container{
	width:755px;
	overflow: auto;
	margin:0 auto 100px auto ;
	@media screen and (max-width: 755px) {
		width:100%;
	}
	li{
		width:250px;
		float:left;
		@media screen and (max-width: 755px) {
			width:100%;
			margin-top:15px;
		}
	}
}
.country-header{
	position: relative;
	margin-top: 40px;
   .back-explore{
		position: absolute;
		top:0;
	}
	.country-heading{
		margin-bottom:60px;
		font-size: 70px;
		font-family:watermelon;
		@media screen and (max-width: 599px) {
			font-size: 50px;
			margin-bottom: 30px;
		}
	}
}
.country-post-list{
}
/*Lists */
.list-page{
	.page-title{
		text-align: center;
		font-family: skinny;
		font-size: 60px;
	}
	.post-opening{
			font-family: 'watermelon';
			font-size: 40px;
			margin-bottom:30px;
			margin-left:-140px; /* hacky way to avaoid re-griding post layout */
			@media screen and (max-width: 1024px) {
				margin-left:20px;
				font-size: 30px;
			}
			@media screen and (max-width: 599px) {
				font-size: 18px;
			}
	}
}
/*End of lists*/


/* Reuseable */
.sub-heading{
	font-size: 75px;
	font-family:skinny;
	margin:80px 0 40px 0;
}
.explanation-text{
	font-family: skinny;
	font-size: 80px;
}

.blog-navigation{
	span,span:hover{
		color:black;
		text-decoration: none;
	}
	font-size:30px;
	margin-bottom:160px;
	margin-top: 50px;
	.next{
		text-align:right;
	}
}


