---
# Main sass file
---
@charset "utf-8";



// Our variables
$base-font-family: gotham, helvetica, arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$red:              #b21c0e;
$light-grey:       #F7F7F7;
$med-grey:         #c9c9c9;

// Width of the ƒcontent area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;
$on-mini:      200px; 



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Font variables
$font-name: "watermelon";
$font-path-file-name: {{ baseurl }}/assets/fonts/watermelon/watermelon;
$font-name-minor: "skinny";
$font-path-file-name-minor: {{ baseurl }}/assets/fonts/skinny/skinny;

// font_name font
@font-face {
  font-family: $font-name;
  src: url($font-path-file-name+'.eot'); /* IE9 Compat Modes */
  src: url($font-path-file-name+'.eot?#iefix') format('embedded-opentype'),
  	   url($font-path-file-name+'.woff2') format('woff2'),
       url($font-path-file-name+'.woff') format('woff'),
       url($font-path-file-name+'.ttf')  format('truetype'), /* Safari, Android, iOS */
       url($font-path-file-name+'.svg#svgFontName') format('svg'); /* Legacy iOS */
}

//skinny font
@font-face {
  font-family: 'skinny';
  src: url($font-path-file-name-minor+'.eot');
  src: url($font-path-file-name-minor+'.woff2') format('woff2'),
       url($font-path-file-name-minor+'.woff') format('woff'),
       url($font-path-file-name-minor+'.ttf') format('truetype'),
       url($font-path-file-name-minor+'.svg#skinny') format('svg'),
       url($font-path-file-name-minor+'.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import "minima";