---
layout: page
title: Explore
permalink: /explore/
menu: true
---

<div class="explore">
	<div class="explore-title col-xs-12"> <img src="{{site.baseUrl}}/assets/explore.svg" /> </div>
	<div class="">
		<ul class="explore-continents col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0">
			<li class="col-md-6 col-xs-12"><a href="{{site.baseUrl}}/continents/europe"><img class="explore-thumbnail" src="{{site.baseurl}}/assets/europe.svg"></img></a></li>
			<li class="col-md-6 col-xs-12"><a href="{{site.baseUrl}}/continents/northamerica"><img class="explore-thumbnail" src="{{site.baseurl}}/assets/northamerica.svg"></a></li>
		</ul>
	</div>

	<div class="lastest-posts">
		<div class="latest col-xs-12">Latest Posts</div>
		  <ul class="popular-post-list col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0">
		    {% for post in site.posts limit:3  %}
		      <li class='latest-single-post col-xs-12 col-md-4'>
		      	<div class='post-clip'>
		      		<img src="{{site.baseurl}}/assets/{{post.thumbnail}}"/>
		      		<p class='main-tag'>{{post.categories[0]}}</p>
		        	<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
		      	</div>
		      </li>
		    {% endfor %}
		  </ul>
	</div>
	<div class="">
		<p class="popularcol-xs-12"> Popular Posts</p>
	  <ul class="popular-post-list col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0">
	    {% for post in site.posts limit:3 %}
	      <li class=' col-xs-12 col-md-4'>
	      	<div class='post-clip'>
	      		<img src="{{site.baseurl}}/assets/{{post.thumbnail}}"/>
	      		<p class='main-tag'>{{post.categories[0]}}</p>
	        	<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
	     	</div>
	      </li>
	    {% endfor %}
	  </ul>
	</div>
		<div class="">
		   <p class="popular col-md-12 col-xs-12">Top Travel Posts</p>
			  <ul class="popular-post-list col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0">
			    {% for post in site.categories.travel limit:3 %}
			      <li class='popular-travel-post col-xs-12 col-md-4'>
			      	<div class='post-clip'>
			      		<img src="{{site.baseurl}}/assets/{{post.thumbnail}}"/>
			      		<p class='main-tag'>{{post.categories[0]}}</p>
			        	<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
			      	</div>
			      </li>
			    {% endfor %}
			  </ul>
		</div>
</div>