  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->
<div class="footer-content">
	<div class="social-icons">
	  <a target="blank" href="https://www.instagram.com/deardiarytravel/"><img class="social-icon" id="instagramsocial" src="{{site.baseurl}}/assets/instagramsocial.svg"></img></a>
	  <a target="blank" href="https://twitter.com/deardiarytravel" ><img class="social-icon" id="twittersocial" src="{{site.baseurl}}/assets/twittersocial.svg"></img></a>
	</div>
</div>