<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

  	  {% include header.html %}
    
    <div class="page-content">
      {{ content }}
    </div>
    <div class="comments">
      {% include comments.html %}
 	    </div>
   		{% include footer.html %}
   	 <script>
      $(document).ready(function() {
          
          /* Every time the window is scrolled ... */
          $(window).scroll( function(){
          
              /* Check the location of each desired element */
              $('.post-list').each( function(i){
                  
                  var bottom_of_object = $(this).position().top + $(this).outerHeight();
                  var bottom_of_window = $(window).scrollTop() + $(window).height();
                  
                  /* If the object is completely visible in the window, fade it it */
                  if( bottom_of_window > bottom_of_object ){
                      
                    //  $(this).animate({'opacity':'1'},1500);
                         //$(this).css('display': 'none');
                         $('#navigation ul li').css({'background-color': '#ff0000', 'color': '#ffffff'});
                  }
                  
              }); 
            });
          });
		</script>
     {% include analytics.html %}
  </body>

</html>